body {
  text-align: center;
  font-family: Arial;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin: 20px auto;
  position: relative;
}

.cell {
  width: 100px;
  height: 100px;
  background: lightgray;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.line {
  position: absolute;
  height: 5px;
  background: red;
  transform-origin: left;
}